<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>胡婷老师</string>
		<key>icon</key>
		<string>icon_06.jpg</string>
		<key>detail</key>
		<string>主要成果 ：
共发表论文3篇：
1．车辆定位的地图匹配算法研究，科技资讯；
2．基于GIS的校园管网管理系统的研究与设计，长春师范学院学报。
参与科研项目情况：
1.	吉林省因公出，国审批系统开发，来源吉林省教育厅
2.	发明专利“一种无线打印机链接技术”
</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李赫老师</string>
		<key>icon</key>
		<string>icon_00.jpg</string>
		<key>detail</key>
		<string>主要成果 ：
1.主持国家社会科学基金“十一五”规划项目“信息科学课程化研究”， 项目编号CCA090127，项目时间2009.11—2013.6
2.李赫专著，《信息科学课程化研究》，2014.8，吉林出版集团有限责任公司（全国百佳图书出版单位）
3.发表学术论文李赫、徐继红，高中信息技术课程实施:校长的认知与作用，中国电化教育（CSSCI检索源期刊），2010. 8
</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_01.jpg</string>
		<key>name</key>
		<string>徐曼老师</string>
		<key>detail</key>
		<string>主要成果 ：

几年来共发表论文6篇，其中多数发表在省级刊物上，中文核心期刊1篇，以下是其中三篇：
1．彰显民族意识的精神诉求-论韩国体育电影的发展，电影文学，核心期刊；
2．教育技术学专业实践教学体系的改革与实践，长春工业大学报；
3．浅析网络环境下大学生道德缺失问题，长春工业大学报。
</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_02.jpg</string>
		<key>name</key>
		<string>王星璨老师</string>
		<key>detail</key>
		<string>主要成果 ：
     
网络学习平台中教学游戏组件化研究。
</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_03.jpg</string>
		<key>name</key>
		<string>吴德胜老师</string>
		<key>detail</key>
		<string>主要成果 ：

吉林省高中信息技术教师知识状况调查研究；
地方工科院校创业型人才培养模式研究；
基于第二课堂拓宽人才培养渠道的探索与实践；
自主学习有效途径与方式的研究；
信息技术环境下工科院校教师教育技术能力建设的研究；
Epss在教师技术培训中的应用与实现；
吉林省高中信息技术教师知识状况调查研究；
激发教育下教育技术学专业多样化人才培养模式研究。
</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_04.jpg</string>
		<key>name</key>
		<string>郎建军老师</string>
		<key>detail</key>
		<string>主要成果 ：

发表论文情况：
  Study on Investigation of Underground Metal Object with Transient
  Pulse Electromagnetic Method   EI收录；
  Artificial Intelligence based Profit-Sharing Algorithm in Multi-Agent Systems  EI收录；
软件著作权一项：  
  获医养结合信息管理系统  V1.5  著作版权人  长春工业大学。
</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_05.jpg</string>
		<key>name</key>
		<string>管媛辉老师</string>
		<key>detail</key>
		<string>主要成果 ：
学校档案管理系统的开发与设计 【EI】2012-05-26
“国培计划”体系结构各要素间内外相互关系研究 【CSSCI】 2013-02-06
如何培养现代信息人才   【核心期刊】 2006-12-01
吉林省青少年自主创新能力的调查研究省团委【省团委】08.4-08.11
教育现代化背景下高校网络公开课的本土化问题研究   【省教育科学院】  2015-2017
青少年移动社交平台主动学习策略的调查研究【吉林省教育厅】管媛辉 2016.1-2018.1
第四届“挑战杯”长春工业大学大学生创业计划竞赛  两组三等奖 三组优秀奖.
数字化点餐系统的研究与开发 国家级 创新实验项目  
</string>
	</dict>
</array>
</plist>
