<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>大创</string>
		<key>icon</key>
		<string>j1.jpg</string>
		<key>detail</key>
		<string>2018年3月28日星期日，长春工业大学信息传播工程学院数字媒体技术专业进行了大学生创新创业大赛的结题答辩。管媛辉、吴德胜、郎建军三位老师作为答辩评判老师听了每位同学的答辩内容并为同学们提出修改意见。在此次答辩中，每位同学都展示了自己所做的项目，展示形式为讲解PPT并且为老师真机演示运行状况，答辩的项目多为网站或者APP，每个项目都是同学们准备将近一年时间所得，所以参加答辩的同学在介绍自己的项目时，都像在介绍自己的心爱之物，现场的气氛竟少了一丝紧张，多了一份激情。</string>
		<key>tupian</key>
		<string>大创.jpg</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>j2.jpg</string>
		<key>name</key>
		<string>互联网+</string>
		<key>detail</key>
		<string>以赛促学，培养创新创业生力军。大赛旨在激发学生的创造力，培养造就“大众创业、万众创新”生力军；鼓励广大青年扎根中国大地了解国情民情，在创新创业中增长智慧才干，在艰苦奋斗中锤炼意志品质，把激昂的青春梦融入伟大的中国梦，努力成长为德才兼备的有为人才。
以赛促教，探索素质教育新途径。把大赛作为深化创新创业教育改革的重要抓手，引导各地各高校主动服务国家战略和区域发展，开展课程体系、教学方法、教师能力、管理制度等方面的综合改革。以大赛为牵引，带动职业教育、基础教育深化教学改革，全面推进素质教育，切实提高学生的创新精神、创业意识和创新创业能力。</string>
		<key>tupian</key>
		<string>互联网+.jpg</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>j3.jpg</string>
		<key>name</key>
		<string>运动会</string>
		<key>detail</key>
		<string>蔚蓝的天空下，有你矫健的身影，热闹的操场上，有你坚定的步伐，美丽的鲜花后有你辛勤的汗水，我们的喝彩中，有你的自豪与骄傲！ 体育健儿们，我们知道你们的辛勤，我们了解你们的辛苦，加油吧！不论你是成功还是失败，我们都是你们坚强的后盾，胜也爱你，败也爱你，我们永远支持你。</string>
		<key>tupian</key>
		<string>运动会.jpg</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>j4.jpg</string>
		<key>name</key>
		<string>大广赛</string>
		<key>detail</key>
		<string>全国大学生广告艺术大赛（以下简称：大广赛）是由中国高等教育学会、教育部高等学校新闻传播学类专业教学指导委员会主办，全国大学生广告艺术大赛组委会组织，中国传媒大学、大广赛文化传播（北京）有限公司承办的全国高校文科大赛。
       大广赛是覆盖全国31个省、自治区、直辖市的大学生实践教学竞赛平台。大广赛以企业真实营销项目作为命题，与教学相结合，真题真做，以赛代练、以赛促学、以赛促教、以赛树德。是具有创新力和传播力的平台。
启迪智慧、强化技能、提高素质、促进教改是大广赛的宗旨。</string>
		<key>tupian</key>
		<string>大广.jpg</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>j5.jpg</string>
		<key>name</key>
		<string>移动创新赛</string>
		<key>detail</key>
		<string>全国大学生移动应用创新大赛（China Mobile Application Innovation Tournament）是一项聚焦在校和毕业五年以内的大学生移动&amp;互联网相关领域创新创业的全国性赛事活动。大赛为大学生搭建了一个以移动互联网为工具，展示创新创业能力的平台；广泛对接投资机构、产业园区、行业专家、新闻媒体等，汇聚社会力量共同促进大学生创业创新。 CMAIT自2014年举办首届以来，得到了社会各届的广泛关注和上级部门的高度肯定，大量优秀大学生创业团队通过大赛洗礼融资成功，走上了快速持续发展的道路。大赛将始终致力于为大学生在互联网领域的创业提供全方位的服务和支持，力争通过“汇集多领域资源、凝聚多方面力量、开拓多元化渠道”吸引有志有才的青年创客，发现中国创造的核心力量，实现青年创客的创业梦想，逐步发展成为推动大学生“锐意创新、非凡创意、精实创业”的标杆平台。</string>
		<key>tupian</key>
		<string>移动创新赛.jpg</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>j6.jpg</string>
		<key>name</key>
		<string>华为杯</string>
		<key>detail</key>
		<string>本次大赛是由吉林大学管理学院联合共青团长春市委、长春市科技局共同主办，吉林大学信息化与信息管理研究中心承办，吉林省森祥科技有限公司、华为技术有限公司、吉林省计算机行业商会和吉林省软件行业协会协办的一项全市性软件设计类大赛。大赛以强化青年人才创新意识、锻炼创新创意设计能力、培养遴选软件设计专业人才为根本目的，旨在引导全市软件信息类专业青年人才及项目有效集聚，并促进形成产、学、研合作示范效应，以推动长春软件科技产业快速发展。

大赛的获奖团队除了可以优先入驻长春青年创业工场正茂园区享受房租减免等一系列优惠措施外，还可以优先获得森祥科技和华为实习、就业的机会，优秀团队还可吉林大学信息化与信息管理研究中心及森祥科技的合作伙伴。</string>
		<key>tupian</key>
		<string>华为杯.jpg</string>
	</dict>
</array>
</plist>
